In [173]:
from pyaxis import pyaxis
import pandas as pd
import numpy as np

In [196]:
households = pyaxis.parse(uri="gospodinjski.PX", encoding='windows-1250')
households_data = households["DATA"]

In [197]:
households_data

,STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA),CENA,ČETRTLETJE,DATA
0,DA (<1000 KWh),Energija,2012Q1,0.0627
1,DA (<1000 KWh),Energija,2012Q2,0.0656
2,DA (<1000 KWh),Energija,2012Q3,0.0673
3,DA (<1000 KWh),Energija,2012Q4,0.0671
4,DA (<1000 KWh),Energija,2013Q1,0.0644
...,...,...,...,...
1795,Slovenija,Z vsemi davki,2023Q2,0.19393
1796,Slovenija,Z vsemi davki,2023Q3,0.220235582020336
1797,Slovenija,Z vsemi davki,2023Q4,0.197421017418052
1798,Slovenija,Z vsemi davki,2024Q1,0.202542099757832
1799,Slovenija,Z vsemi davki,2024Q2,0.212052332997104

In [198]:
households_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)  1800 non-null   object
 1   CENA                                          1800 non-null   object
 2   ČETRTLETJE                                    1800 non-null   object
 3   DATA                                          1650 non-null   object
dtypes: object(4)
memory usage: 56.4+ KB

In [199]:
data_units = households["METADATA"]["UNITS"][0]
print(data_units)

EUR/kWh

In [200]:
households_data = households_data.rename(columns={"DATA": data_units})
households_data[data_units] = households_data[data_units].astype(float)

In [201]:
households_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)  1800 non-null   object
 1   CENA                                          1800 non-null   object
 2   ČETRTLETJE                                    1800 non-null   object
 3   EUR/kWh                                       1650 non-null   float64
dtypes: float64(1), object(3)
memory usage: 56.4+ KB

In [202]:
households_data["CENA"].value_counts()

CENA
Energija                300
Omrežnina               300
Brez davkov             300
Dodatki in prispevki    300
Brez DDV                300
Z vsemi davki           300
Name: count, dtype: int64

In [203]:
households_data["STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)"].value_counts()

STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)
DA (<1000 KWh)             300
DB (1000 do <2500 KWh)     300
DC (2500 do <5000 KWh)     300
DD (5000 do <15000 KWh)    300
DE ( >= 15000 KWh)         300
Slovenija                  300
Name: count, dtype: int64

In [204]:
households_data.isna().sum()

STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)      0
CENA                                              0
ČETRTLETJE                                        0
EUR/kWh                                         150
dtype: int64

In [206]:
households_data[households_data[data_units].isna()]["STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)"].value_counts()

STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)
Slovenija    150
Name: count, dtype: int64

In [186]:
households_data = households_data.dropna()

In [187]:
households_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1650 entries, 0 to 1799
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)  1650 non-null   object
 1   CENA                                          1650 non-null   object
 2   ČETRTLETJE                                    1650 non-null   object
 3   EUR/kWh                                       1650 non-null   float64
dtypes: float64(1), object(3)
memory usage: 64.5+ KB

In [188]:
households_data[households_data["STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)"] == "Slovenija"]

# je to povprecje?

,STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA),CENA,ČETRTLETJE,EUR/kWh
1600,Slovenija,Brez davkov,2012Q1,0.116000
1601,Slovenija,Brez davkov,2012Q2,0.118400
1602,Slovenija,Brez davkov,2012Q3,0.118700
1603,Slovenija,Brez davkov,2012Q4,0.116900
1604,Slovenija,Brez davkov,2013Q1,0.115200
...,...,...,...,...
1795,Slovenija,Z vsemi davki,2023Q2,0.193930
1796,Slovenija,Z vsemi davki,2023Q3,0.220236
1797,Slovenija,Z vsemi davki,2023Q4,0.197421
1798,Slovenija,Z vsemi davki,2024Q1,0.202542
1799,Slovenija,Z vsemi davki,2024Q2,0.212052

In [189]:
primer_slo = households_data[(households_data["STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)"] == "Slovenija") & (households_data["ČETRTLETJE"] == "2020Q1")]
primer_slo

,STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA),CENA,ČETRTLETJE,EUR/kWh
1632,Slovenija,Brez davkov,2020Q1,0.104301
1732,Slovenija,Brez DDV,2020Q1,0.117706
1782,Slovenija,Z vsemi davki,2020Q1,0.143601

In [190]:
primer_ostalo = households_data[(households_data["STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)"] != "Slovenija") & (households_data["ČETRTLETJE"] == "2020Q1")]
primer_ostalo = primer_ostalo.groupby("CENA")[[data_units]].mean()

In [191]:
primer_together = primer_slo.merge(primer_ostalo.add_suffix("_mean"), on="CENA", how="inner")
primer_together["diff"] = primer_together[data_units] - primer_together[f"{data_units}_mean"]
primer_together

,STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA),CENA,ČETRTLETJE,EUR/kWh,EUR/kWh_mean,diff
0,Slovenija,Brez davkov,2020Q1,0.104301,0.116013,-0.011712
1,Slovenija,Brez DDV,2020Q1,0.117706,0.139638,-0.021932
2,Slovenija,Z vsemi davki,2020Q1,0.143601,0.170358,-0.026757

In [192]:
households_data.head()

  STANDARDNA PORABNIŠKA SKUPINA (LETNA PORABA)      CENA ČETRTLETJE  EUR/kWh
0                               DA (<1000 KWh)  Energija     2012Q1   0.0627
1                               DA (<1000 KWh)  Energija     2012Q2   0.0656
2                               DA (<1000 KWh)  Energija     2012Q3   0.0673
3                               DA (<1000 KWh)  Energija     2012Q4   0.0671
4                               DA (<1000 KWh)  Energija     2013Q1   0.0644

In [193]:
households_data.loc[:, "leto"] = households_data["ČETRTLETJE"].str[:4].astype(int)
households_data.loc[:, "cetrtletje"] = households_data["ČETRTLETJE"].str[-1].astype(int)

In [194]:
households_data.to_csv("electricity_prices.csv")