In [132]:
from pyaxis import pyaxis
import pandas as pd
import numpy as np

In [133]:
px = pyaxis.parse(uri="foreigners.PX", encoding='windows-1250')

# store data as pandas dataframe
data_df = px['DATA']

data_df

               DRŽAVA DRŽAVLJANSTVA  LETO           NAMEN PRISELITVE   DATA
0     Država državljanstva - SKUPAJ  2005  Namen priselitve - SKUPAJ  13294
1     Država državljanstva - SKUPAJ  2005                 Zaposlitev   4973
2     Država državljanstva - SKUPAJ  2005              Sezonsko delo   3263
3     Država državljanstva - SKUPAJ  2005        Združitev z družino   2583
4     Država državljanstva - SKUPAJ  2005                     Študij    483
...                             ...   ...                        ...    ...
1633                        Neznano  2022              Sezonsko delo  "..."
1634                        Neznano  2022        Združitev z družino  "..."
1635                        Neznano  2022                     Študij  "..."
1636                        Neznano  2022                      Drugo  "..."
1637                        Neznano  2022                    Neznano  "..."

[1638 rows x 4 columns]

In [134]:
data_df.tail(20)

     DRŽAVA DRŽAVLJANSTVA  LETO           NAMEN PRISELITVE   DATA
1618              Neznano  2020                 Zaposlitev  "..."
1619              Neznano  2020              Sezonsko delo  "..."
1620              Neznano  2020        Združitev z družino  "..."
1621              Neznano  2020                     Študij  "..."
1622              Neznano  2020                      Drugo  "..."
1623              Neznano  2020                    Neznano  "..."
1624              Neznano  2021  Namen priselitve - SKUPAJ  "..."
1625              Neznano  2021                 Zaposlitev  "..."
1626              Neznano  2021              Sezonsko delo  "..."
1627              Neznano  2021        Združitev z družino  "..."
1628              Neznano  2021                     Študij  "..."
1629              Neznano  2021                      Drugo  "..."
1630              Neznano  2021                    Neznano  "..."
1631              Neznano  2022  Namen priselitve - SKUPAJ  "..."
1632              Neznano  2022                 Zaposlitev  "..."
1633              Neznano  2022              Sezonsko delo  "..."
1634              Neznano  2022        Združitev z družino  "..."
1635              Neznano  2022                     Študij  "..."
1636              Neznano  2022                      Drugo  "..."
1637              Neznano  2022                    Neznano  "..."

In [135]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638 entries, 0 to 1637
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DRŽAVA DRŽAVLJANSTVA  1638 non-null   object
 1   LETO                  1638 non-null   object
 2   NAMEN PRISELITVE      1638 non-null   object
 3   DATA                  1638 non-null   object
dtypes: object(4)
memory usage: 51.3+ KB

In [136]:
data_df["DRŽAVA DRŽAVLJANSTVA"].value_counts()

DRŽAVA DRŽAVLJANSTVA
Država državljanstva - SKUPAJ    126
Države EU                        126
... Hrvaška                      126
... druge države članice EU      126
Bosna in Hercegovina             126
Hrvaška                          126
Srbija                           126
Srbija in Črna gora              126
Črna gora                        126
Kosovo                           126
Druge evropske države            126
Neevropske države                126
Neznano                          126
Name: count, dtype: int64

In [137]:
data_df["LETO"].value_counts()

LETO
2005    91
2006    91
2007    91
2008    91
2009    91
2010    91
2011    91
2012    91
2013    91
2014    91
2015    91
2016    91
2017    91
2018    91
2019    91
2020    91
2021    91
2022    91
Name: count, dtype: int64

In [138]:
data_df[data_df["LETO"] == "2020"].head(20)

              DRŽAVA DRŽAVLJANSTVA  LETO           NAMEN PRISELITVE   DATA
105  Država državljanstva - SKUPAJ  2020  Namen priselitve - SKUPAJ  24750
106  Država državljanstva - SKUPAJ  2020                 Zaposlitev  14450
107  Država državljanstva - SKUPAJ  2020              Sezonsko delo  "..."
108  Država državljanstva - SKUPAJ  2020        Združitev z družino   7704
109  Država državljanstva - SKUPAJ  2020                     Študij   1407
110  Država državljanstva - SKUPAJ  2020                      Drugo    946
111  Država državljanstva - SKUPAJ  2020                    Neznano    243
231                      Države EU  2020  Namen priselitve - SKUPAJ   3232
232                      Države EU  2020                 Zaposlitev   1461
233                      Države EU  2020              Sezonsko delo  "..."
234                      Države EU  2020        Združitev z družino    705
235                      Države EU  2020                     Študij    180
236                      Države EU  2020                      Drugo    778
237                      Države EU  2020                    Neznano    108
357                    ... Hrvaška  2020  Namen priselitve - SKUPAJ   1204
358                    ... Hrvaška  2020                 Zaposlitev    616
359                    ... Hrvaška  2020              Sezonsko delo  "..."
360                    ... Hrvaška  2020        Združitev z družino    269
361                    ... Hrvaška  2020                     Študij    122
362                    ... Hrvaška  2020                      Drugo    158

In [139]:
data_df["DRŽAVA DRŽAVLJANSTVA"].unique()

array(['Država državljanstva - SKUPAJ', 'Države EU', '... Hrvaška',
       '... druge države članice EU', 'Bosna in Hercegovina', 'Hrvaška',
       'Srbija', 'Srbija in Črna gora', 'Črna gora', 'Kosovo',
       'Druge evropske države', 'Neevropske države', 'Neznano'],
      dtype=object)

We need to do some cleaning

In [140]:
country_map = {"Država državljanstva - SKUPAJ": "TOGETHER",
               "Države EU": "EU", 
               "... druge države članice EU": "EU",
               "... Hrvaška": "Croatia",
               "Hrvaška": "Croatia",
               "Bosna in Hercegovina": "Bosnia",
               "Srbija": "Serbia & Montenegro",
               "Srbija in Črna gora": "Serbia & Montenegro",
               "Črna gora": "Serbia & Montenegro",
               "Kosovo": "Kosovo",
               "Druge evropske države": "Other European Countries",
               "Neevropske države": "Noneuropean countries",
               "Neznano": "Unknown"
                }

In [141]:
def trnasform_day_to_numeric(val):
    return int(val) if val.isdigit() else np.nan

data_df["LETO"] = data_df["LETO"].astype(int)
data_df["DATA"] = data_df["DATA"].apply(trnasform_day_to_numeric)
data_df["NAMEN PRISELITVE"] = pd.Categorical(data_df["NAMEN PRISELITVE"])
data_df["DRŽAVA DRŽAVLJANSTVA"] = data_df["DRŽAVA DRŽAVLJANSTVA"].apply(lambda val: country_map[val])

In [142]:
data_df = data_df.rename(columns={"LETO": "year", "DATA": "immigrations", "NAMEN PRISELITVE": "purpose of immigration", "DRŽAVA DRŽAVLJANSTVA": "citizenship"})

In [143]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638 entries, 0 to 1637
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   citizenship             1638 non-null   object
 1   year                    1638 non-null   int64
 2   purpose of immigration  1638 non-null   category
 3   immigrations            1103 non-null   float64
dtypes: category(1), float64(1), int64(1), object(1)
memory usage: 40.5+ KB

In [144]:
data = data_df.dropna()

In [145]:
data

     citizenship  year     purpose of immigration  immigrations
0       TOGETHER  2005  Namen priselitve - SKUPAJ       13294.0
1       TOGETHER  2005                 Zaposlitev        4973.0
2       TOGETHER  2005              Sezonsko delo        3263.0
3       TOGETHER  2005        Združitev z družino        2583.0
4       TOGETHER  2005                     Študij         483.0
...          ...   ...                        ...           ...
1611     Unknown  2019                 Zaposlitev           0.0
1613     Unknown  2019        Združitev z družino           0.0
1614     Unknown  2019                     Študij           0.0
1615     Unknown  2019                      Drugo           0.0
1616     Unknown  2019                    Neznano           0.0

[1103 rows x 4 columns]

In [146]:
data[data["year"] == 2020].head(20)

    citizenship  year     purpose of immigration  immigrations
105    TOGETHER  2020  Namen priselitve - SKUPAJ       24750.0
106    TOGETHER  2020                 Zaposlitev       14450.0
108    TOGETHER  2020        Združitev z družino        7704.0
109    TOGETHER  2020                     Študij        1407.0
110    TOGETHER  2020                      Drugo         946.0
111    TOGETHER  2020                    Neznano         243.0
231          EU  2020  Namen priselitve - SKUPAJ        3232.0
232          EU  2020                 Zaposlitev        1461.0
234          EU  2020        Združitev z družino         705.0
235          EU  2020                     Študij         180.0
236          EU  2020                      Drugo         778.0
237          EU  2020                    Neznano         108.0
357     Croatia  2020  Namen priselitve - SKUPAJ        1204.0
358     Croatia  2020                 Zaposlitev         616.0
360     Croatia  2020        Združitev z družino         269.0
361     Croatia  2020                     Študij         122.0
362     Croatia  2020                      Drugo         158.0
363     Croatia  2020                    Neznano          39.0
483          EU  2020  Namen priselitve - SKUPAJ        2028.0
484          EU  2020                 Zaposlitev         845.0

In [147]:
# remove rows with grouped counts
data = data[~data["purpose of immigration"].str.contains("SKUPAJ")]

In [148]:
data

     citizenship  year purpose of immigration  immigrations
1       TOGETHER  2005             Zaposlitev        4973.0
2       TOGETHER  2005          Sezonsko delo        3263.0
3       TOGETHER  2005    Združitev z družino        2583.0
4       TOGETHER  2005                 Študij         483.0
5       TOGETHER  2005                  Drugo         605.0
...          ...   ...                    ...           ...
1611     Unknown  2019             Zaposlitev           0.0
1613     Unknown  2019    Združitev z družino           0.0
1614     Unknown  2019                 Študij           0.0
1615     Unknown  2019                  Drugo           0.0
1616     Unknown  2019                Neznano           0.0

[922 rows x 4 columns]

In [149]:
# save to a file
data.to_csv("immigration_data_slovenia.csv", index=False)